#header {
	position: fixed;
	top: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100vw;
	height: 80px;
	background-image: url(/images/sky.jpg);
	z-index: 5;
	left: 0px;
}

#header-img {
	display: block;
	width: 90px;
	height: 80px;
	left: 0px;
}

#nav-bar {
	margin-right: 2em;
	display: flex;
	align-items: center;
	padding: 1em;
	display: flex;
	justify-content: space-between;
}

body {
	position: relative;
	background-image: url(/images/sky.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: orangered;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#grid {
	position: absolute;
	top: 15%;
	width: 100%;
	height: 100%;
	grid-template-columns: 10% 10% 60% 10% 10%;
	grid-template-rows: 15% 30% 15% 30% 10%;
	grid-template-areas: ". . title . ." ". art art art ." ". . video . ." ". card card card ." ". foot foot foot .";
}

#title {
	grid-area: title;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em;
	margin-top: 4em;
}

#titleform {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#submit {
	margin-top: 1em;
	padding: 1em;
	background-color: palegreen;
	color: blue;
	border-radius: 25px;
}

#submit:hover {
	cursor: pointer;
}

#features {
	margin: 0 20% 0 20%;
	grid-area: art;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em 0 2em 0;
}

#video {
	grid-area: video;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em;
}

#price {
	grid-area: card;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 2em;
	margin: 10%;
}
@media (max-width: 900px) {
	#price {
		display: flex;
		flex-direction: column;
	}
}

.priceA {
	border: solid blue 2px;
	width: 35%;
	height: 300px;
	overflow: auto;
	padding: 1.5em;
	margin: 1em;
	background-color: rgba(191, 191, 191, 0.8);
	display: flex;
	flex-direction: column;
}

footer {
	grid-area: foot;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

footer ul {
	display: flex;
	flex-direction: row;
	list-style: none;
}

footer ul li {
	padding: 1em 1em 0 1em;
	color: pink;
}

.nav-link {
	margin: 5px;
}

#nav-bar a {
	color: pink;
}

.submitP {
	background-color: orange;
	color: blue;
	align-items: center;
	justify-content: center;
	padding: 0.5em;
}
.submitP:hover {
	cursor: pointer;
}
.btn {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-top: 60px;
}
@media (max-width: 900px) {
	.btn {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		margin-top: -10px;
	}
}

.lista {
	list-style: none;
	top: 0px;
	font-family: 'Courier New';
	color: orange;
}
.titpric {
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
}
